/*start with all imports and extra stuff*/
@import url('https://rsms.me/inter/inter-ui.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}



/*start here with the stylesheet*/
body {
  font-family: 'Inter UI', sans-serif;
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
